@using Kendo.Mvc.UI
@using TCAdmin.SDK.Objects
@model Models.Game.ServiceAspxModel

@{

    var service = TCAdmin.GameHosting.SDK.Objects.Service.GetSelectedService();
    var maintenance = false;
    if (service.Variables.HasValue("_ServiceMaintenance::Maintenance"))
    {
        maintenance = (bool) service.Variables["_ServiceMaintenance::Maintenance"];
    }

    var currentUrl = Request.Url.AbsoluteUri;
    var user = TCAdmin.SDK.Session.GetCurrentUser();
    if (currentUrl.Contains("Service/Actions") && user.UserType == UserType.Admin || user.UserType == UserType.SubAdmin)
    {
        <label>Service Maintenance: </label>
        @(Html.Kendo().Switch()
                .Name("switch")
                .Checked(maintenance)
                .Messages(c => c.Checked("ON").Unchecked("OFF"))
                .Events(x => x.Change("switchChanged")))
    }
}

<script>

    function switchChanged(e) {
        $.ajax({
            url: "/Service/Maintenance/MaintenanceSwitch/" + @Model.ServiceId,
            data: JSON.stringify({ switchy: e.checked }),
            datatype: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8'
        });
    }
</script>